*{
    margin: 0;
    padding: 0;
}

#background{
    background-image:url('../images/website-background.png'); 
    width: 100vw;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background:white;
    top: 0px;
    height:80px;
    width: 100vw;
    border:solid black;
    border-width: 0.2pt
}

.boxcontainer{
    display:flex;
    justify-content: space-around;
    width: 1000px;
    height:80px;
    margin: 0 auto;
    position: relative;
    top: 0px;
    z-index:3
}

.namebox{
    color: white;
    text-align: center;
    font-family: 'Georgia';
    font-size: 75%;
    width: 20vw;
    background-color: #4aaaa5; 
    padding: 25px 15px ;
    border-bottom:solid black;
    border-top: solid black;
    border-width: 0.1pt;
    overflow: hidden
}

.emptybox{
    width: 40vw;
}

.APCbox{
    width:100px;
    text-align: center;
    padding: 25px 0
}

a, a:link, a:visited {
    color: #777777;
    text-decoration: none;
  }

.textbox{
    background: white;
    color: #777777;
    width: 960px;
    height: 575px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.footer{
    background: grey;
    height: 40px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    text-align: center;
    text-align: bottom;
    color: white;
    border-top: 8px solid #4aaaa5
}

.footertext{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,0%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt
}

p{
    font-size: 18px;
    line-height: 28px;
    color:#777777;
    padding:10px 0 0 0
}

h2{
    color: #4aaaa5;
    padding: 0 0 10px 0
}

.mypic{
    float: left;
    padding: 16px 8px 8px 0px
}

.contactbox{
    background: white;
    color: #777777;
    width: 960px;
    height: 350px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.contactcontainer{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 960x;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

#namebox{
    height:20px;
    font-size:10pt;
}

#emailbox{
    height:20px;
    font-size:10pt;
}

#messagebox{
    height:100px;
    font-size:10pt;
}

#submitbut{
    width:75px;
    height: 30px;
    background-color: #4aaaa5;
    font-size: 10pt;
    color:white 
}

.portfoliobox{
    background: white;
    color: #777777;
    width: 960px;
    height: 725px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.portfoliocontainer{
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 960x;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

.portfolioitem{
    height: 300px;
    width: 300px;
    background-color: grey;
    overflow:hidden
}

.portfoliotext{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt
}

.itemtext{
    height:50px;
    widows: 300px;
    background-color: #4aaaa5;
    position: relative;
    bottom: 75px;
    text-align: center;
}